POSTGRES_PASSWORD=password
POSTGRES_USER=postgres

# See https://www.prisma.io/docs/concepts/database-connectors/postgresql
# Host value is the default container name for postgres - @nest-postgres:5432
# change it when changing the container name

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:5432/nest-http?schema=public
