public-hoist-pattern[]=*fastify*
public-hoist-pattern[]=*@typescript-eslint*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

registry=https://registry.npmjs.org

strict-peer-dependencies=false
